/*Common Style Properties*/
body{
    font-family: 'Montserrat', serif;
    font-size: 1.125rem;
}

h1, h2, h3, a:hover, #mts-link{
    color: #14D40F; /*5D9C59*/
}

h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'bradley hand itc', 'Nanum Pen Script', serif;
}

h3{
    font-size: 1.3125em;
}

p, a, .btn{
    color: #ECF2FF;
    line-height: 1.75;
    text-decoration: none;
}

hr{
    border-style: dotted none none;
    border-width: 6px;
    border-color: #A86464;
    margin: auto;
    width: 4%;
}

#first-section, #second-section, #contact-me{
    margin: auto;
    text-align: center;
}

/*Navigation Bar*/
.navbar-mysetup{
    padding: 45px 12.5%;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}

.nav-item{
    padding: 10px 20px;
}

#first-section{
    background-color: #23272a; /*B4E4FF*/
}

#second-section{
    background-color: #2B4865; /*ECF2FF*/
}

#third-section{
    background-color: #2E4F4F; /*B3E5BE*/
}

/*Font Stylings*/
#my-name{
    font-family: 'tempus sans itc', 'segoe script', 'sacramento';
    font-size: 4.25em;
    margin:50px auto 0px;
}

.sub-headings{
    font-size: 2.25rem;
    padding: 20px;
}

/*For Animations*/
#engineer{
    display: inline-block;
    padding: 5px;
}

#typing-effect{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(150, end) forwards;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100%; }
}

/*Cloud Positioning*/
#cloud1{
    position: absolute;
    left: 70%;
    top: 535px;
}

#cloud2{
    position: absolute;
    left: 23%;
    top: 475px;
}

.profile{
    margin: auto;
    max-width: 525px;
    padding: 0px 15px;
}

#profile-pic{
    border-radius: 100%;
    margin: 20px auto;
}

.skills{
    margin: auto;
    padding: 0px 15px;
    max-width: 850px;
}

.skill-text{
    text-align: justify;
    padding:10px 0px;
}

.mechatron-img{
    float: left;
    width: 25%;
    margin-right: 30px;
}

.programmer-img{
    float: right;
    width:25%;
    margin-left: 30px;
}

#contact-me{
    padding: 0px 0px 30px;
    max-width: 525px;
}

.icon{
    padding: 5px;
}

.footer-part{
    padding: 20px;
}

.footer-link{
    margin: 10px 20px;
}

.btn {
    background: #5D9C00;
}

.btn:hover {
    background: #85B863; /*1F8A70*/
}

@media (max-width: 600px){
    #my-name{
        font-size: 3.5rem;
    }
    .navbar-mysetup{
        padding: 20px 7.5%;
    }

    .nav-link{
        font-size: 1rem;
    }

    .nav-item{
        padding: 8px;
    }

    #mountain-img{
        width: 100%;
    }
    #cloud1{
        position: absolute;
        left: 25%;
        top: 400px;
        width: 15%;
    }

    #cloud2{
        position: absolute;
        left: 65%;
        top: 450px;
        width: 20%;
    }
}

@media (max-width: 1000px){
    .skill-text{
        text-align: center;
    }
}