/*Common Style Properties*/
body{
    font-family: 'Montserrat', serif;
    font-size: 1.125rem;
}

h1, h2, h3, a:hover, .my-link{
    color: #14d40f;
}

h2{
    font-size: 2rem;
    font-family: 'Gabriela', serif;
    text-align: center;
}

h3{
    font-size: 1.3125em;
}

p, a, .btn, .my-link:hover{
    color: #ecf2ff;
    line-height: 1.75;
    text-decoration: none;
}

span{
    color: #9085fd;
}

.line, .profile, .about-me, .skills, .contact-me,
.container, .content-img, .timeline, .fix{
    margin: auto;
}


#first-section, #second-section, #third-section{
    text-align: center;
    padding: 0px 15px;
}

/*Navigation Bar*/
.icon-img{
    background-color: #fec1ae;
    border-radius: 100%;
}

.icon-img:hover{
    background-color: #ecf2ff;
}

.navbar-mysetup{
    padding: 45px 12.5%;
}

.nav-link{
    color: #ecf2ff;
    font-size: 1.125em;
}

.nav-link:hover{
    color: #000000;
    background-color: #ecf2ff;
    border-radius: 5px;
}

.nav-item{
    padding: 10px 20px;
}

#first-section{
    background-image: url("background-img.jpg");
    background-color: #131416;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

#second-section{
    background-color: #000000;
}

#third-section{
    background-color: #131416;
}

.top-container{
    padding: 10px;
}

/*Horizontal Line*/
.line{
    border-top: dotted #ddf7e3;
    border-width: 6px;
    width: 5%;
    margin: 25px auto 10px;
}

/*Font Stylings*/
.my-name{
    font-family: 'Tangerine';
    font-size: 5em;
    margin:75px auto 0px;
}

.sub-headings{
    padding: 20px;
}

/*Type Writer Animation*/
.engineer{
    display: inline-block;
    padding: 5px;
}

.profile{
    max-width: 525px;
}

.typing-effect{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(150, end) forwards;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100%; }
}

/*Gear Wheel Animation*/
.rotate {
  animation: rotation 8s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.about-me{
    padding: 0px 15px;
    max-width: 800px;
}

.skills{
    padding: 0px 15px;
    max-width: 850px;
}

.row{
    padding: 10px 0px;
}

.skill-text{
    text-align: justify;
    padding-top: 10px;
}

.contact-me{
    padding: 0px 12px 30px;
    max-width: 525px;
}

.icon{
    padding: 5px;
}

.footer-part{
    padding: 20px;
}

.footer-link{
    margin: 10px 20px;
}

.btn {
    background: #5d9c00;
}

.btn:hover {
    background: #85b863;
}

/*The Path Page Specific Customizations*/
/*Timeline Stylings*/
.timeline, .fix{
    max-width: 1100px;
}

/*Create a Border Vertical Line*/
.ruler, .so-on{
    border-left: solid #ddf7e3 7px;
    position: relative;
    left: 10px;
}

/*Creating a Connector line between divs*/
.connector{
    border-top: solid #ddF7e3 7px;
    width: 20px;
}

/*Creating dots*/
.so-on{
    border-left: dotted #ddf7e3;
    border-width: 7px;
    margin-top: 20px;
    height: 50px;
}

/*Center Connector Line*/
.fix{
    display: flex;
    align-items: center;
}

/*Content Container*/
.content{
    text-align: justify;
    display: flex;
    align-items: center;
}

/*Image Handling*/
.img-box{
    padding: 12px 18px;
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
}

.content-img{
    background-color: #b4e4ff;
    border-radius: 100%;
}

/*Content Containers*/
.year-box{
    background-image: linear-gradient(45deg, #9164ff, #8bfff4);
    border-radius: 0px 10px;
    position: relative;
    right: 35px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px 15px;
}

.time-box{
    background-color: #fee7e7;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 6px;
}

.status-box{
    background-color: #b4e4ff;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 6px;
}

/*Text Formatting*/
.year{
    font-size: 1.5rem;
    padding: 10px 30px;
    color: black;
}

.time, .status{
    color: #000000;
    margin: 0px auto;
    padding: 10px 0px;
    font-family: 'Gabriela';
}

/*Media Queries*/
@media (max-width: 1000px){
    .skill-text{
        text-align: center;
    }
}

@media (max-width: 750px){
    .img-box{
        width: 100%;
    }
}

@media (max-width: 550px){
    h2{
        font-size: 1.25rem;
    }
    h3{
        font-size: 1.05rem;
    }
    p{
        font-size: 1rem;
        text-align: justify;
    }
    .my-name{
        font-size: 3.5rem;
        margin:20px auto 0px;
    }
    .navbar-mysetup{
        padding: 20px 5%;
    }
    .nav-item{
        padding: 8px;
    }
    .copy-right{
        text-align: center;
    }
    .gear-img{
        width: 35%;
    }
    .nav-link{
        font-size: 0.95rem;
    }
    .content-img{
        width: 100px;
    }
    .connector{
        width: 10px;
    }
}
