/*Common Style Properties*/
body{
    background-color: #FFF2F2;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    margin: auto;
}

div{
    font-family: 'Josefin Slab';
    color: #FFF2F2;
}

h1 {
    text-shadow: #131416 1px 1px;
}

h1, h2, h3, a:hover, .my-link{
    color: #000000;
    font-weight: bold;
}

h2{
    font-family: 'Irish Grover', serif;
    color: #999494;
    font-size: 1.4rem;
    font-weight: lighter;
}

h3{
    color: #9085FD;
    font-size: 1.5em;
}

p, a, .btn, .my-link:hover{
    font-family: 'Lexend', serif;
    text-decoration: none;
    line-height: 1.75;
    color: #000000;
    text-align: justify;
}

span{
    color: #9085FD;
}

/*Navigation Bar*/
.autohide{
    transition: top 0.5s;
    border-radius: 25px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
}

.navbar-mysetup{
    border-radius: 50px;
    margin: 20px 15%;
    padding: 8px;
}

.nav-link:hover, .icon-img:hover{
    background-color: #7886C7;
}

.nav-link{
    font-size: 1.125em;
    color: #000000;
}

.nav-link:hover{
    border-radius: 5px;
    color: #FFF2F2;
}

.nav-item{
    padding: 10px;
}

.bio{
    padding: 150px 12px 12px;
}

/*Font Stylings*/
.my-name{
    margin: 20px auto 0px;
    font-size: 3.5em;
}

/*Type Writer Animation*/
.engineer{
    display: inline-block;
}

.btn {
    background: #131416;
    color: #FFF2F2;
}

.btn:hover {
    background: #7886C7;
}

.carousel > a {
    color: #000000;
    margin: 35% 0px;
    font-size: 64px;
    font-weight: lighter;
}

.filler{
    height: 175px;
}

.footer-part, .navbar-mysetup{
    background-color: #7886C7;
}

.icon-img{
    background-color: #FFF2F2;
    border-radius: 100%;
}

.image-box, .resize {
    position: relative;
    width: 30%;
}

.resize {
    width: auto;
}

.float-img {
    position: absolute;
    border-radius: 4%;
    /* z-index: 1; */
    width: 85%;
}

.carousel-img {
    width: 70%;
    border-radius: 4%;
}

.fancy-txt, .carousel-control-prev, .carousel-control-next {
    margin: 0px;
    color: #000000;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 2em;
}

.typing-effect{
    animation: typing 2s steps(150, end) forwards;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100%; }
}

/*Gear Wheel Animation*/
.rotate {
    animation: rotation 8s;
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

#projects-carousel, .box{
    margin: 12px 20px;
    max-width: 1200px;
}

/* Declare heights because of positioning of img element */
#projects-carousel{
    min-height: 325px;
}

.carousel-indicators{
    position: absolute;
    margin: 0px auto;
    z-index: 0;
}

.row{
    display: flex;
    margin: 10px 0px;
}

.contact-me{
    padding: 0px 12px 30px;
    max-width: 525px;
}

.centery{
    display: block;
    text-align: center;
}

.icon, .engineer, .carousel-indicators{
    padding: 5px;
}

.footer-part{
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px 15px;
    margin: 10px;
}

/* Scroll Bar Customization*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #575e62;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7886C7;
}

/*Media Queries*/
@media (max-width: 900px){
    .navbar-mysetup {
        margin: 5%;
    }
    .image-box{
        width: 100%;
    }
    .float-img{
        display: none;
    }
    .my-name{
        text-align: center;
    }
    .engineer{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 750px){
    .my-name{
        font-size: 3rem;
    }
    h2{
        font-size: 1.25rem;
    }
    h3{
        font-size: 1.05rem;
    }
    p{
        font-size: 1rem;
    }
    span, .nav-link{
        font-size: 0.95rem;
    }
}

@media (max-width: 669px){
    .remover-1{
        display: none;
    }
}

@media (max-width: 575px){
    .navbar-mysetup{
        margin: 5px;
    }
    .filler{
        height: 120px;
    }
    .nav-item{
        padding: 8px;
    }
    .ht-adjust {
        height: 250px;
    }
}

@media (max-width: 500px){
    p{
        text-align: justify;
    }
    h2 {
        font-size: 0.925rem;
    }
    .my-name{
        font-size: 2rem;
        margin:20px auto 0px;
    }
    .copyright{
        display: none;
    }
    .carousel > a {
        margin: 70% 0px;
    }
    #projects-carousel, .box{
        margin: 7px;
    }
}

@media (max-width: 390px){
    .remover{
        display: none;
    }
    span, .nav-link{
        font-size: 0.75rem;
    }
}
